<div class="page-header">
  <h1>products <small>from the 90's</small></h1>
</div>
<br>
<br>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3">
      <div class="well">
            <img src= <%=product.image%>>
            <h3><%= link_to product.name, "/products/#{product.id}"%>: <small>$<%=product.price%></small></h3>
            <p><%=product.description%></p>
            <h6>Made by: <%=product.brand%></h6>
            <p><a href="/products/<%=product.id%>" class="btn-sm btn-default" role="button">
            Buy Now</span>
            </a></p>
      </div>
    </div>
  <% end %>
</div>
